.currency-history__list {
  margin-bottom: 30px;
  list-style: none;
  height: 630px;
  &__item {
    background-color: #fbb03b;
    border-radius: 8px;
    width: 100%;
    padding: 17px;
    color: #fff;
    position: relative;
    margin-bottom: 10px;
    &__money {
      font-size: 20px;
      font-weight: 900;
    }
    &__status {
      position: absolute;
      top: 17px;
      right: 17px;
      font-size: 17px;
      font-weight: 900;
      color: #603813;
    }
    &__bank {
      font-size: 15px;
      margin-top: 7px;
    }
    &__date {
      text-align: right;
      font-size: 13px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__item--none {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 8px;
    width: 100%;
    padding: 17px;
    color: #333;
    position: relative;
  }
}
