.invitation {
  min-width: 360px;
  width: 100%;
  background-color: #fff;
  position: relative;
  &__content {
    padding: 35px 15px;
    width: 360px;
    margin: 0 auto;
    height: 750px;

    &__title {
      font-size: 25px;
      color: #333;
      font-weight: 900;
      position: relative;
      padding: 0 25px;
    }
    &__sub {
      font-size: 13px;
      margin-top: 7px;
    }
    &__close {
      position: absolute;
      width: 27px;
      height: 27px;
      top: 6px;
      right: 5px;
    }
    &__list {
      height: 100%;
      min-height: 630px;
      list-style: none;
      margin-top: 30px;

      &__item--direct {
        background-color: #f7931e;
        border-radius: 8px;
        width: 100%;
        padding: 17px;
        color: #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        margin-bottom: 10px;
        &__email {
          font-size: 17px;
        }
        &__date {
          margin-top: 10px;
          font-size: 13px;
          text-align: right;
        }
      }

      &__item {
        background-color: #fbb03b;
        border-radius: 8px;
        width: 100%;
        padding: 17px;
        color: #4c250b;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        margin-bottom: 10px;
        &__email {
          font-size: 17px;
        }
        &__date {
          margin-top: 10px;
          font-size: 13px;
          text-align: right;
        }
        &:nth-child(2n) {
          background-color: #fbb03b;
        }
      }

      &__item--none {
        background-color: #fff;
        width: 100%;
        padding: 17px;
        color: #333;
        border-radius: 8px;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        font-size: 15px;
      }
    }
  }
  .pagination {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100%;
    & li {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      & a {
        color: #4c250b;
        font-size: 17px;
        font-weight: 900;
      }
    }
    & .active {
      width: 30px;
      height: 30px;
      background-color: #4c250b;
      display: flex;
      justify-content: center;
      align-items: center;
      & a {
        color: #fff;
        font-size: 17px;
        font-weight: 900;
      }
    }
  }
}
