.main {
  width: 100%;
  background-color: #fbb03b;
  height: 100vh;
  &__contents {
    padding: 47px 33px 0;
    &__user {
      position: relative;
      max-width: 348px;
      max-height: 120px;
      padding: 20px 25px;
      background-color: #fff;
      border-radius: 13px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      margin: 0 auto;
      &__info {
        list-style: none;
        font-size: 13px;
        color: #333;
        &__point {
          font-size: 20px;
          margin-bottom: 20px;
          & span {
            display: inline-block;
            color: #000;
            font-size: 20px;
            font-weight: 900;
            margin-left: 3px;
          }
        }
        &__email {
          font-size: 13px;
          margin-bottom: 23px;
        }
      }
      &__logout {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 20px;
        right: 25px;
        cursor: pointer;
      }
    }
    &__menu {
      max-width: 344px;
      margin: 52px auto 0;
      &__list {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        width: 100%;
        height: 100%;
        &__item {
          width: 45%;
          height: 45%;
          padding: 13px;
          background-color: #fff;
          border-radius: 18px;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          margin-right: 10%;
          margin-bottom: 10%;
          &:nth-child(2n) {
            margin-right: 0;
          }
          &:active {
            background-color: #ebebeb;
          }
          & img {
            display: block;
            width: 80px;
            height: 85px;
            margin: 0 auto;
          }
          &__text {
            margin-top: 10px;
            color: #333;
            font-size: 15px;
            text-align: center;
          }
        }
      }
    }
  }
}
